#main-header {
	padding: 0 !important;
}

#logo {
	padding: 10px 0;
}

#main-header nav#top-menu-nav {
	padding-top: 0 !important;
}

#top-menu li > a {
	padding: 18px 0 22px;
}

#et_top_search {
	margin: 26px 0 0 22px;
}

.et-search-form {
	top: 37px;
}

#top-menu .menu-item-has-children > a:first-child:after {
  top: 20px;
}

.nav li ul {
  top: 62px;
}

.et-fixed-header #top-menu > li > a {
	padding: 13px 0 14px;
}

.et-fixed-header .et-search-form {
	top: 24px;
}

.et_header_style_centered #top-menu > li > a {
	padding: 14px 0;
}

.et-fixed-header #top-menu .menu-item-has-children > a:first-child:after {
  top: 16px;
}

.et-fixed-header .nav li ul {
  top: 50px;
}

li.featured-menu a {
	background-color: rgba(252,90,32,1.0);
	font-weight: 700;
	color: rgba(255,255,255,0.7) !important;
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
}

li.featured-menu a:hover {
	background-color: rgba(252,90,32,1.0);
	color: rgba(255,255,255,1) !important;
}

@media only screen and (max-width: 980px) {
	#main-header #et_mobile_nav_menu {
		margin-top: 18px;
	}
}

@media only screen and (min-width: 981px) {
	.featured-menu a {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	
	.et_vertical_nav #main-header #top-menu > li > a {
		padding: 0 0 14px 20px;
		margin: 0;
	}
	
	.et_vertical_nav.et_header_style_centered #main-header #top-menu > li > a {
		padding: 0 0 14px;
	}
	
	.et_vertical_nav #main-header #top-menu > li.featured-menu > a {
		padding-top: 12px;
		margin-bottom: 14px;
	}
	
	.et_vertical_nav #et_top_search {
		margin-left: 20px;
	}
	
	.et_vertical_nav #main-header .et-search-form {
		left: 165px;
	}
}